<div class="container">
  <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    <p-card header="Atualizar Usuário" [style]="{ width: '400px' }">
      <div class="flex flex-column gap-2">
        <label for="name">Nome</label>
        <input
          pInputText
          id="name"
          aria-describedby="name-help"
          class="w-full p-2"
          placeholder="Digite seu nome"
          type="text"
          formControlName="name"
        />
        <small
          id="name-help"
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="block p-error"
        >
          <div *ngIf="name.errors?.['pattern']">O nome deve ser válido.</div>
        </small>
      </div>
      <div class="flex flex-column gap-2">
        <label for="email">E-mail</label>
        <input
          pInputText
          id="email"
          aria-describedby="email-help"
          class="w-full p-2"
          placeholder="Digite seu e-mail"
          type="email"
          formControlName="email"
        />
        <small
          id="email-help"
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['email']">O e-mail deve ser válido.</div>
        </small>
      </div>
      <div class="flex flex-column gap-2">
        <label for="password">Senha</label>
        <input
          pInputText
          id="password"
          aria-describedby="password-help"
          class="w-full p-2"
          placeholder="Digite sua senha"
          type="password"
          formControlName="password"
        />
        <small
          id="password-help"
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['minlength']">
            A senha deve ter pelo menos 8 caracteres.
          </div>
        </small>
      </div>
      <div class="flex flex-column gap-2">
        <label for="confirmPassword">Confirme a senha</label>
        <input
          pInputText
          id="confirmPassword"
          aria-describedby="confirmPassword-help"
          class="w-full p-2"
          placeholder="Digite novamente sua senha"
          type="password"
          formControlName="confirmPassword"
        />
        <small
          id="confirmPassword-help"
          *ngIf="
            (passwordMismatch &&
              (confirmPassword.dirty || confirmPassword.touched)) ||
            (confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched))
          "
          class="block p-error"
        >
          <div *ngIf="updateUserForm.errors?.['passwordMismatch']">
            As senhas devem ser iguais.
          </div>
          <div *ngIf="confirmPassword.errors?.['minlength']">
            A confirmação de senha deve ter pelo menos 8 caracteres.
          </div>
        </small>
      </div>
      <p-button
        label="Atualizar"
        styleClass="w-full mt-3"
        type="submit"
      ></p-button>
    </p-card>
  </form>
</div>
